.chat-message .pf1.chat-card {
  // Support chat cards created prior to .icon-pf rename
  .icon {
    width: 16px;
    height: 16px;
  }

  &.item-card {
    header {
      .item-name {
        cursor: pointer;
      }
    }
  }
}
